# Ambientes virtuales
.venv

# Python 
__pycache__

# Django
manage.py
ERP/ERP/
migrations/
Packages/

# CSS y JS de Bootstrap
ERP/usuarios/static/css/
ERP/usuarios/static/js/

# Varios
*.sqlite3
*.rar
*.zip

# Archivos temporales
tmp_emails/
