{% extends "base_documentos.html" %}
{% load static humanize verbose_names crispy_forms_tags l10n %}

{% block inner_content %}

{% if credito %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "numero" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.numero }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "cliente" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.cliente }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "producto" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.producto }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "oficina" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.oficina }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "moneda" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.moneda.descripcion }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "monto" %}</strong>
    </div>
    <div class="col-5">
      {%if credito.moneda.simbolo %}{{ credito.moneda.simbolo }}{% endif %} {{ credito.monto|unlocalize|intcomma  }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "credito_anterior" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.get_credito_anterior }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "escaneado" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.esta_escaneado }}
    </div>
  </div>
  {% if perms.documentos.view_tomo or perms.documentos.add_tomo or perms.documentos.delete_tomo %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ etiquetas.tomo }}</strong>
    </div>
    <div class="col-5">
      {{ credito.cant_tomos }}
    </div>
  </div>
  {% endif %}

  
  {% if perms.documentos.change_credito or perms.documentos.label_credito or perms.documentos.add_tomo or perms.documentos.delete_tomo %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ opciones.etiqueta }}</strong>
    </div>
    <div class="col-5">
      <form method="post" action="{% url 'documentos:opera_tomo' %}">
        {% csrf_token %}
        <input type="hidden" name="credito" value="{{ credito.id }}">

        {% if perms.documentos.change_credito and not credito.escaneado %}
        <input type="image" src="{% static 'images/documentos_escaneado.png' %}" name="escaneado" width="60" class="btn btn-success" alt="{{ opciones.escaneado }}" title="{{ opciones.escaneado }}">
        {% endif %}
        {% if perms.documentos.add_tomo %}
        <input type="image" src="{% static 'images/documentos_add.png' %}" name="agregar" width="60" class="btn btn-success" alt="{{ opciones.agregar_tomo }}" title="{{ opciones.agregar_tomo }}">
        {% endif %}
        {% if perms.documentos.delete_tomo %}
        <input type="image" src="{% static 'images/documentos_remove.png' %}" name="remover" width="60" class="btn btn-danger" alt="{{ opciones.remover_tomo }}" title="{{ opciones.remover_tomo }}">
        {% endif %}
        {% if perms.documentos.label_credito %}
        <a href="{{ credito.labels_url }}" class="btn btn-primary" target="_blank"><img src="{% static 'images/barcode.png' %}" alt="{{ opciones.etiquetas }}" title="{{ opciones.etiquetas }}"></a>
        {% endif %}
      </form>
    </div>
  </div>
  {% endif %}
{% endif %}

<div class="accordion accordion-flush" id="accordion-estructura">

  {% if tomos %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        {{ sub_titulo.tomos }}
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordion-estructura">
      <div class="accordion-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% get_verbose_field_name tomos.0 "fecha_modificacion" %}</th>
              <th scope="col">{% get_verbose_field_name tomos.0 "comentario" %}</th>
              <th scope="col">{% get_verbose_field_name tomos.0 "caja" %}</th>
              {% if perms.documentos.label_credito or perms.documentos.change_tomo %}
              <th scope="col">{{ opciones.etiqueta }}</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
        {% for tomo in tomos %}
            <tr>
              <td>{{ tomo.numero }}</td>
              <td>{{ tomo.fecha_modificacion|date:"d/m/Y" }}</td>
              <td><pre>{{ tomo.comentario }}</pre></td>
              <td>
                {% if not tomo.caja %}
                  -
                {% elif request.user in tomo.caja.posicion.nivel.estante.bodega.personal.all %}
                  <a href="{{ tomo.caja.view_url }}"> {{ tomo.caja }} ({{ tomo.get_posicion }})</a>
                {% else %}
                  {{ tomo.caja.posicion.nivel.estante.bodega }}
                {% endif %}
              </td>
              <td>
                {% if perms.documentos.label_credito %}
                <a href="{{ tomo.labels_url }}" class="btn btn-primary" target="_blank"><img src="{% static 'images/barcode.png' %}" alt="{{ opciones.etiquetas }}" title="{{ opciones.etiquetas }}"></a>
                {% endif %}
                {% if perms.documentos.change_tomo and tomo.caja and request.user in tomo.caja.posicion.nivel.estante.bodega.personal.all %}
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#extraerForm" data-bs-object="{{ tomo.id }}"><img src="{% static 'images/documentos_out.png' %}" alt="{{ opciones.extraer }}" title="{{ opciones.extraer }}" height="32"></button>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}


  {% if documentosfha %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        {{ sub_titulo.documentosfha }}
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo" data-bs-parent="#accordion-estructura">
      <div class="accordion-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% get_verbose_field_name documentosfha.0 "fecha" %}</th>
              <th scope="col">{% get_verbose_field_name documentosfha.0 "tipo" %}</th>
              <th scope="col">{% get_verbose_field_name documentosfha.0 "numero" %}</th>
              <th scope="col">{% get_verbose_field_name documentosfha.0 "ubicacion" %}</th>
              <th scope="col">{% get_verbose_field_name documentosfha.0 "poliza" %}</th>
              <th scope="col">{% get_verbose_field_name documentosfha.0 "vigente" %}</th>
              {% if perms.documentos.add_solicitudfha or perms.documentos.delete_documentofha %}
              <th scope="col">{{ opciones.etiqueta }}</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
        {% for documento in documentosfha %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ documento.fecha }}</td>
              <td>{{ documento.tipo }}</td>
              <td>{{ documento.numero }}</td>
              <td>{{ documento.ubicacion }}</td>
              <td>{{ documento.poliza }}</td>
              <td>{{ documento.get_estado }}</td>
              <td>
                {% if perms.documentos.delete_documentofha %}
                <a href="{{ documento.delete_url }}" class="btn btn-{{documento.get_accion_tag}}"><img {% if documento.vigente %} src="{% static 'images/documentos_remove.png' %}" {% else %} src="{% static 'images/documentos_habilitar.png' %}"{% endif %}alt="{{ documento.get_accion }}" title="{{ documento.get_accion }}" width="30px"></a>
                {% endif %}

                {% if documento.vigente and not documento.existe_solicitud and perms.documentos.add_solicitudfha %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#solicitudForm" data-bs-object="{{ documento.id }}" data-bs-docto="{{ documento.get_documento }}"><img src="{% static 'images/documentos_out.png' %}" alt="{{ opciones.extraer }}" title="{{ opciones.extraer }}" height="32"></button>
                {% elif documento.vigente and documento.existe_solicitud and perms.documentos.change_solicitudfha %}
                <a href="{{ documento.find_solicitud }}?valor={{ documento.credito.numero }}" class="btn btn-info"><img src="{% static 'images/documentos_solicitud.png' %}" alt="{{ opciones.solicitud }}" title="{{ opciones.solicitud }}" width="30px"></a>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
</div>





{% if perms.documentos.change_tomo %}
<!-- Modal - Ventana emergente para egresos de tomos -->
<div class="modal fade" id="extraerForm" tabindex="-1" aria-labelledby="extraerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="extraerModalLabel">{{ opciones.extraer }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'documentos:opera_tomo' %}" autocomplete="off">
          {% csrf_token %}
          <input type="hidden" class="form-control" id="tomo-id" name="tomo-id">
          <div class="mb-3">
            {{ egreso_form|crispy }}
          </div>
          <input type="submit" name="agregar" value="{{ opciones.guardar }}" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if perms.documentos.add_solicitudfha %}
<!-- Modal - Ventana emergente creación de solicitud -->
<div class="modal fade" id="solicitudForm" tabindex="-1" aria-labelledby="solicitudFHAModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="solicitudFHAModalLabel">-</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" autocomplete="off" action="{% url 'documentos:opera_solicitudfha' %}">
          {% csrf_token %}
          <input type="hidden" class="form-control" id="documento-id" name="documento-id">
          <div class="mb-3">
            {{ solicitudfha_form|crispy }}
            <div id="div_id_bufete" class="mb-3">
          </div>
          <input type="submit" name="agregar" value="{{ opciones.guardar }}" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block pagination %}
  {% include 'base_pagination.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
{% if perms.documentos.change_tomo %}
  var extraerForm = document.getElementById('extraerForm');
  
  extraerForm.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget;
    // Extract info from data-bs-* attributes
    var object_id = button.getAttribute('data-bs-object');
    
    var modalBodyInput = extraerForm.querySelector('#tomo-id');
    modalBodyInput.value = object_id;
    
    //var modalTitle = extraerForm.querySelector('.modal-title')
    //modalTitle.textContent = 'New message to ' + object_id
  })
{% endif %}

{% if perms.documentos.add_solicitudfha %}
  var solicitudForm = document.getElementById('solicitudForm');
  
  solicitudForm.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;

    //var modalBodyInput = solicitudForm.querySelector('.modal-body input');
    var modalBodyInput = solicitudForm.querySelector('#documento-id');
    modalBodyInput.value = button.getAttribute('data-bs-object');
    $('#solicitudFHAModalLabel').html(button.getAttribute('data-bs-docto'));
  });


  $("#id_motivo").on("change", function() {
    //obtiene la url que consulta el detalle de origenes
    var url = "{% url 'documentos:solicitudfha_consulta_motivo' %}"
    var motivo_id = 0;

    //obtiene el id del tipo de origen seleccionado
    if ($(this).val() != '' ){
      motivo_id = $(this).val();
    }

    //llamado ajax
    $.ajax({
      //url que se debe llamar
      url: url,
      //parametros GET
      data: {
        'motivo_id': motivo_id
      },

      //data recibe la infomración de la llamada si fue exitosa
      success: function(response) {
        //reemplaza data dentor de id_origendato
        if (response == 'True') {
            $('#div_id_bufete').html('\
            <label for="id_bufete" class="form-label"> \
                Bufete<span class="asteriskField">*</span> \
            </label> \
            <input type="text" name="bufete" maxlength="30" class="textinput textInput form-control" id="id_bufete" required>'
            );
        }else{
            $("#div_id_bufete").html("");
        }
      }

      /*
      success: function(data) {
        //reemplaza data dentor de id_origendato
        $("#id_origendato").html(data);
      }/**/
    });
  });
{% endif %}
</script>
{% endblock %}