{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ context.title }} - {{ context.object }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/documentos_style.css' %}">
</head>
<body>
<table class="fixed">
    <col/>
    <col/>

    {% for key, value in arreglo.items %}
        {% if not forloop.counter|divisibleby:2 %}<tr>{% endif %}
            <td>
                <span class="{{ value }}">*{{ key }}*</span><br>
                <span class="{{ value }} small">{{ key }}</span>
            </td>
        {% if forloop.counter|divisibleby:2 %}</tr>{% endif %}
    {% endfor %}
</table>
</body>
</html>