{% extends "base_documentos.html" %}
{% load static crispy_forms_tags %}

{% block inner_content %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <div id="div_id_bufete" class="mb-3">
        </div>
        <p></p>
        <input type="submit" name="Guardar" value="{{ botones.guardar }}" class="btn btn-dark">
        <a href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{{ list_url }}{% endif %}" class="btn btn-danger">{{ botones.cancelar }}</a>
    </form>
{% endblock %}


{% block js %}
<script src="{% static 'js/jquery.min.js'%}"></script>
<script>
$("#id_motivo").on("change", function() {
    //obtiene la url que consulta el detalle de origenes
    var url = "{% url 'documentos:solicitudfha_consulta_motivo' %}"
    var motivo_id = 0;

    //obtiene el id del tipo de origen seleccionado
    if ($(this).val() != '' ){
      motivo_id = $(this).val();
    }

    //llamado ajax
    $.ajax({
      //url que se debe llamar
      url: url,
      //parametros GET
      data: {
        'motivo_id': motivo_id
      },

      //data recibe la infomración de la llamada si fue exitosa
      success: function(response) {
        //reemplaza data dentor de id_origendato
        if (response == 'True') {
            $('#div_id_bufete').html('\
            <label for="id_bufete" class="form-label"> \
                Bufete<span class="asteriskField">*</span> \
            </label> \
            <input type="text" name="bufete" maxlength="30" class="textinput textInput form-control" id="id_bufete" required>'
            );
        }else{
            $("#div_id_bufete").html("");
        }
      }

      /*
      success: function(data) {
        //reemplaza data dentor de id_origendato
        $("#id_origendato").html(data);
      }/**/
    });
  });
</script>
{% endblock %}

<!--
<div id="div_id_bufete" class="mb-3"> 
            <label for="id_bufete" class="form-label">
                Bufete<span class="asteriskField">*</span>
            </label>
            <input type="text" name="bufete" maxlength="30" class="textinput textInput form-control" id="id_bufete" required> 
        </div>
        -->
