{% extends "base_documentos.html" %}
{% load static verbose_names crispy_forms_tags%}

{% block inner_content %}
    {% include 'base_documentos_search_form.html' %}

  {% if object_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "fecha_solicitud" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0.documento "credito" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "documento" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "solicitante" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "motivo" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "usuario" %}</th>
          <th scope="col">{{ opciones.etiqueta }}</th>
        </tr>
      </thead>
      <tbody>
    {% for object in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
          <td>{{ object.fecha_solicitud|date:"d/m/Y" }}</td>
          <td><a href="{{ object.documento.credito.view_url }}">{{ object.documento.credito.numero }}</a></td>
          <td>{{ object.documento.get_documento }}</td>
          <td>{{ object.solicitante }}</td>
          <td class="position-relative">{{ object.motivo }}
          {% if object.bufete %}
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" title="{{ object.bufete }}"><span class="visually-hidden">{{ object.bufete }}</span></span>
          {%endif%}
          </td>
          <td>{{ object.usuario }}</td>
          
          <td>
            {% if perms.documentos.extrae_boveda %}
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#extraeBoveda" data-bs-object="{{ object.id }}" data-bs-desc="{{ object.documento }}"><img src="{% static 'images/documentos_entrega.png' %}" alt="{{ opciones.editar }}" title="{{ opciones.editar }}" height="25"></button>
            {% endif %}
            {% if perms.documentos.delete_solicitudfha %}
            <a href="{{ object.delete_url }}" class="btn btn-danger"><img src="{% static 'images/documentos_remove.png' %}" alt="{{ opciones.anular }}" title="{{ opciones.anular }}" width="25px"></a>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% else %}
    <div class="alert alert-warning" role="alert">{{ mensaje_vacio }}</div>
{% endif %}

{% if perms.documentos.extrae_boveda %}
<!-- Modal - Ventana emergente para registrar la salida de boveda -->
<div class="modal fade" id="extraeBoveda" tabindex="-1" aria-labelledby="extraerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="extraerModalLabel">-</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'documentos:opera_solicitudfha' %}" autocomplete="off">
          {% csrf_token %}
          <input type="hidden" class="form-control" id="solicitudfha-id" name="solicitudfha-id">
          <div class="mb-3">
            {{ extraeBoveda_form|crispy }}
          </div>
          <input type="submit" name="extraer" value="{{ opciones.guardar }}" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block pagination %}
  {% include 'base_pagination.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
  var extraeBoveda = document.getElementById('extraeBoveda');
  
  extraeBoveda.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;

    //var modalBodyInput = solicitudForm.querySelector('.modal-body input');
    var modalBodyInput = extraeBoveda.querySelector('#solicitudfha-id');
    modalBodyInput.value = button.getAttribute('data-bs-object');

    $('#extraerModalLabel').html(button.getAttribute('data-bs-desc'));
  });
</script>
{% endblock %}