{% extends "base_qlik.html" %}
{% load verbose_names crispy_forms_tags static %}

{% block inner_content %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "nombre" %}</strong>
    </div>
    <div class="col-5">
      {{ object }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "descripcion" %}</strong>
    </div>
    <div class="col-5">
      {{ object.descripcion }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "stream" %}</strong>
    </div>
    <div class="col-5">
      <a href="{{ object.stream.view_url }}">{{ object.stream }}</a>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ opciones.etiqueta }}</strong>
    </div>
    <div class="col-5">
      <a href="{{ object.external_url }}" class="btn btn-info" target="_blank">{{ opciones.ir }}</a>
      {% if perms.qlik.change_modelo %}
      <a href="{{ object.update_url }}" class="btn btn-dark">{{ opciones.editar }}</a>
      {% endif %}
      {% if perms.qlik.delete_modelo %}
      <a href="{{ object.delete_url }}" class="btn btn-danger">{{ opciones.eliminar }}</a>
      {% endif %}
    </div>
  </div>

<!-- FORMULARIOS DE INGRESO -->
  <div class="row mb-2">
    <div class="col-6">
    {% if perms.qlik.add_origendatomodelo %}
      <form method="post" id="ModeloUsaOrigenes" autocomplete="off" url_ajax_origenes="{% url 'qlik:ajax_origenes' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="{{ botones.usa }}" value="{{ botones.usa }}" class="btn btn-dark">
      </form>
    {% endif %}
    </div>
    <div class="col-6">
      {% if perms.qlik.add_origendato %}
      <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ genera_form|crispy }}
        <input type="submit" name="{{ botones.genera }}" value="{{ botones.genera }}" class="btn btn-dark">
      </form>
      {% endif %}
    </div>
  </div>
<!-- FIN FORMULARIOS DE INGRESO -->


<div class="accordion" id="accordionPanelsElementosAsociados">
{% if perms.qlik.view_origendatomodelo or perms.qlik.view_origendato %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{ sub_titulo.datos }}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionPanelsElementosAsociados">
      <div class="accordion-body">
        <div class="row">
          <div class="col-6">
          {% if perms.qlik.view_origendatomodelo %}
            <h3>{{ sub_titulo.usa_datos }}</h3>
            {% if origendatomodelo %}
              {% for obj in origendatomodelo %}
              <p>
                {% if perms.qlik.delete_origendatomodelo %}
                <a href="{{ obj.delete_url }}" class="btn btn-danger btn-sm"><img src="{% static '/images/qlik_remove.png' %}" width="18" alt="{{ opciones.eliminar }}"></a>
                {% endif %}
                <a href="{{ obj.origendato.view_url }}">{{ obj.origendato }} ({{ obj.origendato.repositorio }})</a> 
              </p>
              {% endfor %}
            {% endif %}
          {% endif %}
          </div>
          <div class="col-6">
          {% if perms.qlik.view_origendato %}
            <h3>{{ sub_titulo.genera_datos }}</h3>
            {% if origendato %}
              {% for obj in origendato %}
              <p>
                {% if perms.qlik.delete_origendato %}
                <a href="{{ obj.delete_url }}/{{ object.id }}/" class="btn btn-danger btn-sm"><img src="{% static '/images/qlik_remove.png' %}" width="18" alt="{{ opciones.eliminar }}"></a>
                {% endif %}
                <a href="{{ obj.view_url }}">{{ obj }} ({{ obj.repositorio }})</a> 
              </p>
              {% endfor %}
            {% endif %}
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% if permisos and perms.qlik.view_permiso %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        {{ sub_titulo.permisos }}
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionPanelsElementosAsociados">
      <div class="accordion-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{% get_verbose_field_name permisos.0 "licencia" %}</th>
              {% if perms.qlik.delete_origendato %}
              <th scope="col">{{ opciones.etiqueta }}</th>
              {% endif %}
            </tr>
          </thead>
        <tbody>
      {% for permiso in permisos %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{{ permiso.licencia.view_url }}">{{ permiso.licencia }}</a></td>
            <td>
              {% if perms.qlik.delete_origendato %}
              <a href="{{ permiso.delete_url }}" class="btn btn-danger">{{ opciones.eliminar }}</a>
              {% endif %}
            </td>
          </tr>
      {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
{% endif %}
</div>


{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.min.js'%}"></script>
<script>
$("#id_repositorio").on("change", function() {
    //obtiene la url que consulta el detalle de origenes
    var url = $("#ModeloUsaOrigenes").attr("url_ajax_origenes"); 
    var repositorio_id = 0;

    //obtiene el id del tipo de origen seleccionado
    if ($(this).val() != '' ){
      repositorio_id = $(this).val();
    }

    //llamado ajax
    $.ajax({
      //url que se debe llamar
      url: url,
      //parametros GET
      data: {
        'repositorio_id': repositorio_id
      },

      //data recibe la infomración de la llamada si fue exitosa
      success: function(data) {
        //reemplaza data dentor de id_origendato
        $("#id_origendato").html(data);
      }
    });
  });
</script>
{% endblock %}