{% extends "base_qlik.html" %}
{% load static verbose_names crispy_forms_tags %}

{% block create_button %}
{% if perms.qlik.add_origendato %}
<a href="{% url 'qlik:origendato_create' %}" class="btn btn-success"><img src="{% static 'images/qlik_add.png' %}" width="32" alt="{{ opciones.nuevo }}"></a>
{% endif %}
{% endblock %}

{% block inner_content %}
    {% include 'base_qlik_search_form.html' %}

{% if object_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "nombre" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "tipodato" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "modelo" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "vigente" %}</th>
          <th scope="col">{{ opciones.etiqueta }}</th>
        </tr>
      </thead>
      <tbody>
    {% for object in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
          <td>{{ object }}</td>
          <td><a href="{{ object.tipodato.detail_url }}">{{ object.tipodato }}</a></td>
        {% if object.modelo %}
          <td><a href="{{ object.modelo.detail_url }}">{{ object.modelo }}</a></td>
        {% else %}
          <td>-</td>
        {% endif %}
          <td>{{ object.get_estado }}</td>
          <td>
            <a href="{{ object.detail_url }}" class="btn btn-dark">{{ opciones.ver }}</a>
            {% if perms.qlik.change_origendato %}
            <a href="{{ object.update_url }}" class="btn btn-dark">{{ opciones.editar }}</a>
            {% endif %}
            {% if perms.qlik.delete_origendato %}
            <a href="{{ object.delete_url }}" class="btn btn-danger">{{ opciones.eliminar }}</a>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% else %}
    <div class="alert alert-warning" role="alert">{{ mensaje_vacio }}</div>
{% endif %}
{% endblock %}

{% block pagination %}
  {% include 'base_pagination.html' %}
{% endblock %}