{% extends "base_qlik.html" %}
{% load static crispy_forms_tags %}

{% block inner_content %}
    <h3>{{ object.tobjeto }} - {{ object.objeto }}</h3>
  
    <form method="post" autocomplete="off" id="PermisoForm" url_ajax="{% url 'qlik:ajax_permiso_origenes' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nombre|as_crispy_field }}
            {{ form.nombre.errors|striptags }}
        </div>
        <div class="form-group">
            <table class="table">
              <tr>
                <td>{{ form.create|as_crispy_field }}</td>
                <td>{{ form.read|as_crispy_field }}</td>
                <td>{{ form.update|as_crispy_field }}</td>
                <td>{{ form.delete|as_crispy_field }}</td>
                <td>{{ form.export|as_crispy_field }}</td>
                <td>{{ form.publish|as_crispy_field }}</td>
              </tr>
              <tr>
                <td>{{ form.change_owner|as_crispy_field }}</td>
                <td>{{ form.export_data|as_crispy_field }}</td>
                <td>{{ form.access_offline|as_crispy_field }}</td>
                <td>{{ form.duplicate|as_crispy_field }}</td>
                <td>{{ form.approve|as_crispy_field }}</td>
                <td></td>
              </tr>
            </table>
        </div>
        <div class="form-group">
            {{ form.licencias|as_crispy_field }}
            {{ form.licencias.errors|striptags }}
        </div>
        <p></p>
        <input type="submit" name="Guardar" value="{{ botones.guardar }}" class="btn btn-dark">
    </form>

{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.min.js'%}"></script>
<script>
$("#id_tobjeto").on("change", function() {
    //obtiene la url que consulta el detalle de origenes
    var url = $("#PermisoForm").attr("url_ajax"); 
    var tipo_objeto = '';

    //obtiene el id del tipo de origen seleccionado
    if ($(this).val() != '' ){
      tipo_objeto = $(this).val();
    }

    //llamado ajax
    $.ajax({
      //url que se debe llamar
      url: url,
      //parametros GET
      data: {
        'tipo_objeto': tipo_objeto
      },

      //data recibe la infomración de la llamada si fue exitosa
      success: function(data) {
        //reemplaza data dentor de id_origendato
        $("#id_objeto").html(data);
      }
    });
  });
</script>
{% endblock %}