{% extends "base_qlik.html" %}
{% load verbose_names %}

{% block inner_content %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "nombre" %}</strong>
    </div>
    <div class="col-5">
      {{ object }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "tobjeto" %}</strong>
    </div>
    <div class="col-5">
      <a href="{{ object.objeto.view_url }}">{{ object.tobjeto }} - {{ object.objeto }}</a>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ etiquetas.permisos }}</strong>
    </div>
    <div class="col-5">
      <table class="table">
        <tr>
          <td class="table-{% if object.create %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "create" %}</td>
          <td class="table-{% if object.read %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "read" %}</td>
          <td class="table-{% if object.update %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "update" %}</td>
          <td class="table-{% if object.delete %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "delete" %}</td>
        <tr>
          <td class="table-{% if object.export %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "export" %}</td>
          <td class="table-{% if object.publish %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "publish" %}</td>
          <td class="table-{% if object.export_data %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "export_data" %}</td>
          <td class="table-{% if object.change_owner %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "change_owner" %}</td>
        </tr>
        </tr>
        <tr>
          <td class="table-{% if object.access_offline %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "access_offline" %}</td>
          <td class="table-{% if object.duplicate %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "duplicate" %}</td>
          <td class="table-{% if object.approve %}success{% else %}danger{% endif %}">{% get_verbose_field_name object "approve" %}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "licencias" %}</strong>
    </div>
    <div class="col-5">
      <ul>
      {% for licencia in object.licencias.all %}
        <li><a href="{{ licencia.view_url }}">{{ licencia }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% if perms.qlik.change_permiso or perms.qlik.delete_permiso %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ opciones.etiqueta }}</strong>
    </div>
    <div class="col-5">
      {% if perms.qlik.change_permiso %}
      <a href="{{ object.update_url }}" class="btn btn-dark">{{ opciones.editar }}</a>
      {% endif %}
      {% if perms.qlik.delete_permiso %}
      <a href="{{ object.delete_url }}" class="btn btn-danger">{{ opciones.eliminar }}</a>
      {% endif %}
    </div>
  </div>
  {% endif %}

{% if licencias and perms.qlik.view_licencia %}
  <div class="row mb-2">
    <div class="col">
      <h3>{{ sub_titulo.licencias }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{% get_verbose_field_name licencias.0 "nombre" %}</th>
            <th scope="col">{% get_verbose_field_name licencias.0 "tusuario" %}</th>
            <th scope="col">{% get_verbose_field_name licencias.0 "gerencia" %}</th>
            {% if perms.qlik.change_licencia or perms.qlik.delete_licencia %}
            <th scope="col">{{ opciones.etiqueta }}</th>
            {% endif %}
          </tr>
        </thead>
      <tbody>
    {% for licencia in licencias %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ licencia }}</td>
          <td>{{ licencia.usuario_ad }}</td>
          <td>{{ licencia.gerencia }}</td>
          <td>
            <a href="{{ licencia.view_url }}" class="btn btn-dark">{{ opciones.ver }}</a>
            {% if perms.qlik.change_licencia %}
            <a href="{{ licencia.update_url }}" class="btn btn-dark">{{ opciones.editar }}</a>
            {% endif %}
            {% if perms.qlik.delete_licencia %}
            <a href="{{ licencia.delete_url }}" class="btn btn-danger">{{ opciones.eliminar }}</a>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
{% endif %}

{% endblock %}