{% extends "base_qlik.html" %}
{% load verbose_names %}

{% block inner_content %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "descripcion" %}</strong>
    </div>
    <div class="col-5">
      {{ object }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "cantidad" %}</strong>
    </div>
    <div class="col-5">
      {{ object.cantidad }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ opciones.disponibles }}</strong>
    </div>
    <div class="col-5">
      {{ object.disponibles }}
    </div>
  </div>
  {% if perms.qlik.change_tipolicencia or perms.qlik.delete_tipolicencia %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ opciones.etiqueta }}</strong>
    </div>
    <div class="col-5">
      {% if perms.qlik.change_tipolicencia %}
      <a href="{{ object.update_url }}" class="btn btn-dark">{{ opciones.editar }}</a>
      {% endif %}
      {% if perms.qlik.delete_tipolicencia %}
      <a href="{{ object.delete_url }}" class="btn btn-danger">{{ opciones.eliminar }}</a>
      {% endif %}
    </div>
  </div>
  {% endif %}

{% if licencias and perms.qlik.view_licencia %}
  <div class="row mb-2">
    <div class="col">
      <h3>{{ sub_titulo.licencias }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{% get_verbose_field_name licencias.0 "nombre" %}</th>
            <th scope="col">{% get_verbose_field_name licencias.0 "tusuario" %}</th>
            <th scope="col">{% get_verbose_field_name licencias.0 "gerencia" %}</th>
            {% if perms.qlik.change_licencia or perms.qlik.delete_licencia %}
            <th scope="col">{{ opciones.etiqueta }}</th>
            {% endif %}
          </tr>
        </thead>
      <tbody>
    {% for licencia in licencias %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ licencia }}</td>
          <td>{{ licencia.usuario_ad }}</td>
          <td>{{ licencia.gerencia }}</td>
          <td>
            <a href="{{ licencia.view_url }}" class="btn btn-dark">{{ opciones.ver }}</a>
            {% if perms.qlik.change_licencia %}
            <a href="{{ licencia.update_url }}" class="btn btn-dark">{{ opciones.editar }}</a>
            {% endif %}
            {% if perms.qlik.delete_licencia %}
            <a href="{{ licencia.delete_url }}" class="btn btn-danger">{{ opciones.eliminar }}</a>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
{% endif %}

{% endblock %}