{% extends "base_qlik.html" %}
{% load static verbose_names %}

{% block create_button %}
{% if perms.qlik.add_tipolicencia %}
<a href="{% url 'qlik:tipolicencia_create' %}" class="btn btn-success"><img src="{% static 'images/qlik_add.png' %}" width="32" alt="{{ opciones.nuevo }}" title="{{ opciones.nuevo }}"></a>
{% endif %}
{% endblock %}

{% block inner_content %}
    {% include 'base_qlik_search_form.html' %}

  {% if object_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "descripcion" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "cantidad" %}</th>
          <th scope="col">{{ opciones.disponibles }}</th>
          <th scope="col">{{ opciones.etiqueta }}</th>
        </tr>
      </thead>
      <tbody>
    {% for object in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
          <td>{{ object }}</td>
          <td>{{ object.cantidad }}</td>
          <td>{{ object.disponibles }}</td>
          <td>
            <a href="{{ object.view_url }}" class="btn btn-dark">{{ opciones.ver }}</a>
            {% if perms.qlik.change_tipolicencia %}
            <a href="{{ object.update_url }}" class="btn btn-dark">{{ opciones.editar }}</a>
            {% endif %}
            {% if perms.qlik.delete_tipolicencia %}
            <a href="{{ object.delete_url }}" class="btn btn-danger">{{ opciones.eliminar }}</a>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% else %}
    <div class="alert alert-warning" role="alert">{{ mensaje_vacio }}</div>
  {% endif %}
{% endblock %}

{% block pagination %}
  {% include 'base_pagination.html' %}
{% endblock %}