<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% if perms.documentos.view_solicitante %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Catálogos
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'documentos:solicitante_list' %}">Solicitantes</a></li>
          <li><a class="dropdown-item" href="{% url 'documentos:motivo_list' %}">Motivos</a></li>
        </ul>
      </li>
      {% endif %}
      {% if perms.documentos.load_credito %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Creditos
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'documentos:carga' %}">Carga de Créditos</a></li>
          {% if perms.documentos.view_solicitudfha %}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'documentos:solicitudfha_list' %}">Solicitudes</a></li>
          {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if perms.documentos.view_bodega %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'documentos:bodega_list' %}">Bodega</a>
      </li>
      {% endif %}
      {% if perms.documentos.change_tomo %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'documentos:ingreso_tomo' %}">Ingreso Tomo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'documentos:envio_tomo' %}">Envío Tomos</a>
      </li>
      {% endif %}
    </ul>
  </div>
  {% if perms.documentos.view_credito %}
  <form class="d-flex" method="get" action="{% url 'documentos:credito_search' %}" autocomplete="off">
    <input class="form-control me-2" type="search" placeholder="Crédito" aria-label="Search" name="numero">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>
  {% endif %}