{% extends "base_expedientes.html" %}
{% load static verbose_names math_operations crispy_forms_tags %}

{% block inner_content %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "posicion" %}</strong>
    </div>
    <div class="col-5">
      <a href="{{ object.posicion.detail_url }}">{{ object.posicion }}</a>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "numero" %}</strong>
    </div>
    <div class="col-5">
      {{ object.numero }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name object "vigente" %}</strong>
    </div>
    <div class="col-5">
      {{ object.get_estado }}
    </div>
  </div>
  {% if perms.expedientes.label_caja %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ opciones.etiqueta }}</strong>
    </div>
    <div class="col-5">
      <a href="{{ object.labels_url }}" class="btn btn-primary" target="_blank"><img src="{% static 'images/barcode.png' %}" alt="{{ opciones.etiquetas }}"></a>
    </div>
  </div>
  {% endif %}

</div>

{% endblock %}