{% extends "base_expedientes.html" %}
{% load static humanize verbose_names crispy_forms_tags %}

{% block inner_content %}

{% if credito %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "numero" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.numero }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "cliente" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.cliente }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "producto" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.producto }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "oficina" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.oficina }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "monto" %}</strong>
    </div>
    <div class="col-5">
      {%if credito.moneda.simbolo%}{{ credito.moneda.simbolo }}{% endif %} {{ credito.monto|intcomma  }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ etiquetas.tomo }}</strong>
    </div>
    <div class="col-5">
      {{ credito.cant_tomos }}
    </div>
  </div>
  
  {% if perms.expedientes.label_credito or perms.expedientes.add_tomo or perms.expedientes.delete_tomo %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ opciones.etiqueta }}</strong>
    </div>
    <div class="col-5">
      <form method="post" action="{% url 'expedientes:opera_tomo' %}">
        {% csrf_token %}
        <input type="hidden" name="credito" value="{{ credito.id }}">
        {% if perms.expedientes.add_tomo %}
        <input type="image" src="{% static 'images/expedientes_add.png' %}" name="agregar" width="60" class="btn btn-success">
        {% endif %}
        {% if perms.expedientes.delete_tomo %}
        <input type="image" src="{% static 'images/expedientes_remove.png' %}" name="remover" width="60" class="btn btn-danger">
        {% endif %}
        {% if perms.expedientes.label_credito %}
        <a href="{{ credito.labels_url }}" class="btn btn-primary" target="_blank"><img src="{% static 'images/barcode.png' %}" alt="{{ opciones.etiquetas }}"></a>
        {% endif %}
      </form>
    </div>
  </div>
  {% endif %}

{% endif %}

  {% if tomos %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% get_verbose_field_name tomos.0 "comentario" %}</th>
          <th scope="col">{% get_verbose_field_name tomos.0 "caja" %}</th>
          <th scope="col">{{ opciones.etiqueta }}</th>
        </tr>
      </thead>
      <tbody>
    {% for tomo in tomos %}
        <tr>
          <td>{{ tomo.numero }}</td>
          <td><pre>{{ tomo.comentario }}</pre></td>
          <td>{% if tomo.caja %}{{ tomo.caja }}{% else %}-{% endif %}</td>
          <td>
            {% if perms.expedientes.label_tomo %}
            <a href="{{ tomo.labels_url }}" class="btn btn-primary" target="_blank"><img src="{% static 'images/barcode.png' %}" alt="{{ opciones.etiquetas }}"></a>
            {% endif %}
            {% if perms.expedientes.change_tomo %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#extraerForm" data-bs-whatever="{{ tomo.id }}"><img src="{% static 'images/expedientes_out.png' %}" alt="{{ opciones.extraer }}" title="{{ opciones.extraer }}" height="32"></button>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% endif %}

<!-- Modal -->
{% if perms.expedientes.change_tomo %}
<div class="modal fade" id="extraerForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ opciones.extraer }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'expedientes:cargaregreso_tomo' %}" autocomplete="off">
          <input type="hidden" class="form-control" id="tomo-id" name="tomo-id">
          <div class="mb-3">
            {{ egreso_form|crispy }}
          </div>
          {% csrf_token %}
          <input type="submit" name="Guardar" value="{{ opciones.guardar }}" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block pagination %}
  {% include 'base_pagination.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
  var extraerForm = document.getElementById('extraerForm')
  
  extraerForm.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-whatever')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  var modalBodyInput = extraerForm.querySelector('.modal-body input')
  modalBodyInput.value = recipient
  
  //var modalTitle = extraerForm.querySelector('.modal-title')
  //modalTitle.textContent = 'New message to ' + recipient
})

</script>
{% endblock %}