{% extends "base_expedientes.html" %}
{% load static humanize verbose_names crispy_forms_tags %}

{% block inner_content %}
    {% include 'base_expedientes_search_form.html' %}

{% if credito %}
  <hr>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "cliente" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.cliente }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "producto" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.producto }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "oficina" %}</strong>
    </div>
    <div class="col-5">
      {{ credito.oficina }}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-7">
      <strong>{% get_verbose_field_name credito "monto" %}</strong>
    </div>
    <div class="col-5">
      {%if credito.moneda.simbolo%}{{ credito.moneda.simbolo }}{% endif %} {{ credito.monto|intcomma  }}
    </div>
  </div>
  
  {% if perms.estante.label_credito %}
  <div class="row mb-2">
    <div class="col-7">
      <strong>{{ opciones.etiqueta }}</strong>
    </div>
    <div class="col-5">
      <a href="{{ credito.labels_url }}" class="btn btn-primary" target="_blank"><img src="{% static 'images/barcode.png' %}" alt="{{ opciones.etiquetas }}"></a>
    </div>
  </div>
  {% endif %}

{% endif %}

  {% if folios %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "nombre" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "vigente" %}</th>
          <th scope="col">{{ opciones.etiqueta }}</th>
        </tr>
      </thead>
      <tbody>
    {% for object in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
          <td>{{ object }}</td>
          <td>{{ object.get_estado }}</td>
          <td>
            <a href="{{ object.detail_url }}" class="btn btn-dark">{{ opciones.ver }}</a>
            {% if perms.expedientes.change_bodega %}
            <a href="{{ object.update_url }}" class="btn btn-dark">{{ opciones.editar }}</a>
            {% endif %}
            {% if perms.expedientes.change_bodega %}
            <a href="{{ object.delete_url }}" 
              {% if object.vigente %} 
                class="btn btn-danger"> {{ opciones.inhabilitar }} 
              {% else %}  
                class="btn btn-success">{{ opciones.habilitar }} 
              {% endif %}
            </a>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}

{% block pagination %}
  {% include 'base_pagination.html' %}
{% endblock %}