{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ context.title }} - {{ context.object }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/expedientes_style.css' %}">
</head>
<body>
{% if arreglo %}
<table class="fixed">
    <col/>
    <col/>

    {% for key, value in arreglo.items %}
        {% if not forloop.counter|divisibleby:2 %}<tr>{% endif %}
            <td>
                <span class="{{ value }}">*{{ key }}*</span><br>
                <span class="{{ value }} small">{{ key }}</span>
            </td>
        {% if forloop.counter|divisibleby:2 %}</tr>{% endif %}
    {% endfor %}
</table>
{% else %}
<h1>{{ context.title }}: {{ context.object }}</h1>
<form>
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" name="enviar" value="Enviar">
</form>
{% endif %}
</body>
</html>