{% extends 'base_expedientes.html' %}


{% block inner_content %}
<div class="container px-4 py-5" id="icon-grid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
            <div>
            <h4 class="fw-bold mb-0">Bodega</h4>
            <p>Se permite la administración de multiples bodegas.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
            <div>
            <h4 class="fw-bold mb-0">Estructura</h4>
            <p>Estructura de almacenaje (Estantes, Niveles, Posiciones y Cajas).</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
            <div>
            <h4 class="fw-bold mb-0">Creditos</h4>
            <p>Almacena información relevante de los créditos que están siendo almacenados.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
            <div>
            <h4 class="fw-bold mb-0">Histórico</h4>
            <p>Se guarda registro de las modificaciones aplicadas a cada uno de los registros.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}