{% extends "base_expedientes.html" %}
{% load static verbose_names crispy_forms_tags%}

{% block inner_content %}

  {% if object_list %}
<div class="row">
  <div class="col-7">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "numero" %}</th>
          <th scope="col">{% get_verbose_field_name object_list.0 "caja" %}</th>
          <th scope="col">{{ opciones.etiqueta }}</th>
        </tr>
      </thead>
      <tbody>
    {% for object in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ object }}</td>
          <td>{{ object.caja }}</td>
          <td>
            <a href="{{ object.remover_url }}" class="btn btn-danger"><img src="{% static 'images/expedientes_remove.png' %}" alt="{{ opciones.eliminar }}" title="{{ opciones.eliminar }}" height="30"></a>
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-5">
    
    <div class="accordion accordion-flush" id="accordion-estructura">

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            {{ sub_titulo.traslado }}
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordion-estructura">
          <div class="accordion-body">
            <form method="post" autocomplete="off" action="{% url 'expedientes:salida_tomo' %}">
                {% csrf_token %}
                {{ traslado_form|crispy }}
                <input type="submit" name="trasladar" value="{{ opciones.trasladar }}" class="btn btn-dark">
            </form>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            {{ sub_titulo.egreso }}
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordion-estructura">
          <div class="accordion-body">
            <form method="post" autocomplete="off" action="{% url 'expedientes:salida_tomo' %}">
                {% csrf_token %}
                {{ egreso_form|crispy }}
                <input type="submit" name="egresar" value="{{ opciones.egresar }}" class="btn btn-dark">
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% else %}
    <div class="alert alert-warning" role="alert">{{ mensaje_vacio }}</div>
{% endif %}
{% endblock %}

{% block pagination %}
  {% include 'base_pagination.html' %}
{% endblock %}