{% extends "base_usuario.html" %}
{% load static %}

{% block inner_content %}
<div class="container px-4 py-5" id="icon-grid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3 py-4">
{% for apps, atributos in aplicaciones.items %}
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
            <img src="{% static '' %}{{ atributos.image }}">
            </div>
            <h2>{{ atributos.nombre }}</h2>
            <p>{{ atributos.descripcion }}</p>
            <a href="{{ atributos.url }}" class="icon-link">{{ ir }}
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
            </a>
        </div>
{% endfor %}

{% endblock %}